# REQUIRED CONFIG

BOT_TOKEN = ""
API_ID = ""
API_HASH = ""
SESSION = "Media_search" #NAME

CACHE_TIME = ""
USE_CAPTION_FILTER = "" #True/False

ADMINS = ""
CHANNELS = "" #ID
AUTH_USERS = "" #ID
AUTH_CHANNEL = "" #ID
AUTH_GROUP = "" #ID
USE_AS_BOT = "" #Bool
BASE_URL = "" #MUST FOR HEROKU

DATABASE_URI = "" #MUST (MONGODB)
DATABASE_NAME = "" #MUST
COLLECTION_NAME = "" #MUST

LOG_CHANNEL = "" #ID
SUPPORT_CHAT = "ENT PROVIDER" #NAME
P_TTI_SHOW_OFF = "" #Bool
IMDB = "" #Bool
SINGLE_BUTTON = "" #Bool

CUSTOM_FILE_CAPTION = "<b><i>{file_name} » {file_size} › [ENT_PROVIDER](https://t.me/+54grsefoihes)</i></b>"
BATCH_FILE_CAPTION = "<b><i>{file_name} » {file_size} › [ENT_PROVIDER](https://t.me/+54grsefoihes)</i></b>"
IMDB_TEMPLATE = "🏷 𝖳𝗂𝗍𝗅𝖾: <a href={url}>{title}</a> \n🔮 𝖸𝖾𝖺𝗋: {year} \n⭐️ 𝖱𝖺𝗍𝗂𝗇𝗀𝗌: {rating}/ 10 \n🎭 𝖦𝖾𝗇𝖾𝗋𝗌: {genres} \n\n🎊 [MAVERICK](https://t.me/Maverick9099)"

LONG_IMDB_DESCRIPTION = "" #Bool
SPELL_CHECK_REPLY = "" #Bool
FILE_STORE_CHANNEL = ""
MELCOW_NEW_USERS = "" #Bool
PROTECT_CONTENT = "" #Bool
PUBLIC_FILE_STORE = "" #Bool
